In [3]:
import numpy as np

In [31]:
val = '''Student,OOP,CALD,LA,COMM,Isl,ED
Student 1,23,67,90,12,45,78
Student 2,56,34,78,90,23,67
Student 3,89,56,78,34,90,12
Student 4,45,78,23,67,12,56
Student 5,78,23,45,90,67,34
Student 6,12,90,56,78,34,23
Student 7,34,45,12,56,23,78
Student 8,67,89,23,45,78,56
Student 9,90,12,45,78,56,67
Student 10,23,78,56,12,90,45
Student 11,45,67,12,34,56,90
Student 12,78,56,90,23,12,45
Student 13,34,23,67,45,78,56
Student 14,67,90,45,56,23,78
Student 15,12,45,78,67,90,34
Student 16,56,67,23,90,12,78
Student 17,78,12,34,23,45,67
Student 18,90,34,56,78,67,12
Student 19,23,78,12,45,56,90
Student 20,45,56,23,78,90,34
Student 21,78,45,67,12,34,56
Student 22,12,23,90,67,45,78
Student 23,34,90,56,78,67,23
Student 24,67,56,12,34,45,90
Student 25,90,34,78,12,56,67
Student 26,23,45,56,67,78,90
Student 27,45,78,34,56,23,67
Student 28,78,67,90,12,45,56
Student 29,90,56,23,34,67,45
Student 30,12,23,67,78,56,45
Student 31,34,12,56,90,45,67
Student 32,67,56,45,34,23,78
Student 33,90,45,23,67,78,56
Student 34,23,78,12,56,90,45
Student 35,45,67,34,12,23,78
Student 36,78,23,56,90,12,67
Student 37,12,67,56,23,78,45
Student 38,34,45,78,56,12,67
Student 39,67,56,45,78,23,12
Student 40,90,45,78,12,56,67'''

In [21]:
t1 = []
t1.append(val.split('\n')[0])
t1
res = [t1]

['Student,OOP,CALD,LA,COMM,Isl,ED']

In [32]:
res = []
for line in val.split('\n'):
    
    temp = []
    temp.append(line)
    res.append(temp)

In [33]:
res

[['Student,OOP,CALD,LA,COMM,Isl,ED'],
 ['Student 1,23,67,90,12,45,78'],
 ['Student 2,56,34,78,90,23,67'],
 ['Student 3,89,56,78,34,90,12'],
 ['Student 4,45,78,23,67,12,56'],
 ['Student 5,78,23,45,90,67,34'],
 ['Student 6,12,90,56,78,34,23'],
 ['Student 7,34,45,12,56,23,78'],
 ['Student 8,67,89,23,45,78,56'],
 ['Student 9,90,12,45,78,56,67'],
 ['Student 10,23,78,56,12,90,45'],
 ['Student 11,45,67,12,34,56,90'],
 ['Student 12,78,56,90,23,12,45'],
 ['Student 13,34,23,67,45,78,56'],
 ['Student 14,67,90,45,56,23,78'],
 ['Student 15,12,45,78,67,90,34'],
 ['Student 16,56,67,23,90,12,78'],
 ['Student 17,78,12,34,23,45,67'],
 ['Student 18,90,34,56,78,67,12'],
 ['Student 19,23,78,12,45,56,90'],
 ['Student 20,45,56,23,78,90,34'],
 ['Student 21,78,45,67,12,34,56'],
 ['Student 22,12,23,90,67,45,78'],
 ['Student 23,34,90,56,78,67,23'],
 ['Student 24,67,56,12,34,45,90'],
 ['Student 25,90,34,78,12,56,67'],
 ['Student 26,23,45,56,67,78,90'],
 ['Student 27,45,78,34,56,23,67'],
 ['Student 28,78,67,90,12,45,56'],
 ['Student 29,90,56,23,34,67,45'],
 ['Student 30,12,23,67,78,56,45'],
 ['Student 31,34,12,56,90,45,67'],
 ['Student 32,67,56,45,34,23,78'],
 ['Student 33,90,45,23,67,78,56'],
 ['Student 34,23,78,12,56,90,45'],
 ['Student 35,45,67,34,12,23,78'],
 ['Student 36,78,23,56,90,12,67'],
 ['Student 37,12,67,56,23,78,45'],
 ['Student 38,34,45,78,56,12,67'],
 ['Student 39,67,56,45,78,23,12'],
 ['Student 40,90,45,78,12,56,67']]

In [36]:
fin = np.array(res)
fin

array([['Student,OOP,CALD,LA,COMM,Isl,ED'],
       ['Student 1,23,67,90,12,45,78'],
       ['Student 2,56,34,78,90,23,67'],
       ['Student 3,89,56,78,34,90,12'],
       ['Student 4,45,78,23,67,12,56'],
       ['Student 5,78,23,45,90,67,34'],
       ['Student 6,12,90,56,78,34,23'],
       ['Student 7,34,45,12,56,23,78'],
       ['Student 8,67,89,23,45,78,56'],
       ['Student 9,90,12,45,78,56,67'],
       ['Student 10,23,78,56,12,90,45'],
       ['Student 11,45,67,12,34,56,90'],
       ['Student 12,78,56,90,23,12,45'],
       ['Student 13,34,23,67,45,78,56'],
       ['Student 14,67,90,45,56,23,78'],
       ['Student 15,12,45,78,67,90,34'],
       ['Student 16,56,67,23,90,12,78'],
       ['Student 17,78,12,34,23,45,67'],
       ['Student 18,90,34,56,78,67,12'],
       ['Student 19,23,78,12,45,56,90'],
       ['Student 20,45,56,23,78,90,34'],
       ['Student 21,78,45,67,12,34,56'],
       ['Student 22,12,23,90,67,45,78'],
       ['Student 23,34,90,56,78,67,23'],
       ['Student 24,67,56,12,34,45,90'],
       ['Student 25,90,34,78,12,56,67'],
       ['Student 26,23,45,56,67,78,90'],
       ['Student 27,45,78,34,56,23,67'],
       ['Student 28,78,67,90,12,45,56'],
       ['Student 29,90,56,23,34,67,45'],
       ['Student 30,12,23,67,78,56,45'],
       ['Student 31,34,12,56,90,45,67'],
       ['Student 32,67,56,45,34,23,78'],
       ['Student 33,90,45,23,67,78,56'],
       ['Student 34,23,78,12,56,90,45'],
       ['Student 35,45,67,34,12,23,78'],
       ['Student 36,78,23,56,90,12,67'],
       ['Student 37,12,67,56,23,78,45'],
       ['Student 38,34,45,78,56,12,67'],
       ['Student 39,67,56,45,78,23,12'],
       ['Student 40,90,45,78,12,56,67']], dtype='<U31')

In [35]:
fin.T

array([['Student,OOP,CALD,LA,COMM,Isl,ED', 'Student 1,23,67,90,12,45,78',
        'Student 2,56,34,78,90,23,67', 'Student 3,89,56,78,34,90,12',
        'Student 4,45,78,23,67,12,56', 'Student 5,78,23,45,90,67,34',
        'Student 6,12,90,56,78,34,23', 'Student 7,34,45,12,56,23,78',
        'Student 8,67,89,23,45,78,56', 'Student 9,90,12,45,78,56,67',
        'Student 10,23,78,56,12,90,45', 'Student 11,45,67,12,34,56,90',
        'Student 12,78,56,90,23,12,45', 'Student 13,34,23,67,45,78,56',
        'Student 14,67,90,45,56,23,78', 'Student 15,12,45,78,67,90,34',
        'Student 16,56,67,23,90,12,78', 'Student 17,78,12,34,23,45,67',
        'Student 18,90,34,56,78,67,12', 'Student 19,23,78,12,45,56,90',
        'Student 20,45,56,23,78,90,34', 'Student 21,78,45,67,12,34,56',
        'Student 22,12,23,90,67,45,78', 'Student 23,34,90,56,78,67,23',
        'Student 24,67,56,12,34,45,90', 'Student 25,90,34,78,12,56,67',
        'Student 26,23,45,56,67,78,90', 'Student 27,45,78,34,56,23,67',
        'Student 28,78,67,90,12,45,56', 'Student 29,90,56,23,34,67,45',
        'Student 30,12,23,67,78,56,45', 'Student 31,34,12,56,90,45,67',
        'Student 32,67,56,45,34,23,78', 'Student 33,90,45,23,67,78,56',
        'Student 34,23,78,12,56,90,45', 'Student 35,45,67,34,12,23,78',
        'Student 36,78,23,56,90,12,67', 'Student 37,12,67,56,23,78,45',
        'Student 38,34,45,78,56,12,67', 'Student 39,67,56,45,78,23,12',
        'Student 40,90,45,78,12,56,67']], dtype='<U31')